@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton+SC&family=Chela+One&family=Chewy&family=Dancing+Script:wght@400..700&family=Doto:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Galada&family=Indie+Flower&family=Lemon&family=Mr+De+Haviland&family=Noto+Serif+Bengali:wght@100..900&family=Permanent+Marker&family=Petit+Formal+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Revolution&family=Ranchers&family=Shadows+Into+Light&family=Tiro+Bangla:ital@0;1&family=Walter+Turncoat&family=Yatra+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    color: beige;
    
}

/* Body css */


body {
    background-image: url(../rsc/background.jpg);
    background-attachment: fixed;
}

/* Main container part */


#main-container {
    margin: auto;
    width: 50%;
    background: linear-gradient(to bottom, #141E30 50%, #243B55 100%);

}

#join-us{
    display: flex;
    position: fixed;
    border-radius: 6px;
    bottom: 10%;
    left: 0%;
    height: 90px;
    width: 170px;
    background-color: rgb(134, 250, 157);
    text-align: center;
    padding-top: 10px;
    opacity: .6;
    margin: auto;
}
#join-us:hover{
    opacity: 1;
}
#join-span {
    width: 50%;
    text-align: right;
    
}
#join-span > span{
    font-size: 2vw;
    color: #022867;
    line-height: .5;
}
#qr-code{
    width: 50%;
}
#qr-code > img{
    max-width: 80px;
}

#go-to-top{    
    position: fixed;
    border-radius: 6px;
    bottom: 10%;
    right: 0%;
    height: 60px;
    width: 60px;
    background-color: cornflowerblue;
    text-align: center;
    padding-top: 10px;
    opacity: .6;    
}

#go-to-top:hover{ 
    opacity: 1;
}
/*=============================================
=            Header menu bar            =
=============================================*/

#nav {
    left: 50%;
}

#menu-ul {
    list-style: none;
    text-align: center;
}

.menu-li {
    display: inline;
    margin: 4%;
    font-size: 1.5vw;
    font-family: "Protest Revolution", serif;
    font-weight: 400;
    font-style: normal;

}

.menu-li:hover {
    padding: 0px 5px;
    background: linear-gradient(to top, #141E30 50%, #243B55 100%);
}

/*=====  End of Header manu bar  ======*/

/*=============================================
=            Header logo & dialogue bar            =
=============================================*/


#dialogue {
    display: flex;
    margin: 20px auto 40px 0px;
    height: 80px;
    /* position: relative; */

}

#logo {
    /* display: inline; */
    padding: 10px;
    left: 35%;
    position: absolute;
}

#img-logo {
    height: auto;
    /* max-width: 100%; */
    max-width: 80px;
}

#dialogue-div {
    left: 41%;
    position: absolute;
    font-size: 2vw;
}

#ins-name {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 62%;
}

#ins-name::after {
    content: "95iCON TECH";
}

#bangla-dialogue {
    font-family: "Galada", serif;
    font-weight: 400;
    font-style: normal;
}

#bangla-dialogue::after {
    content: "শিক্ষা সেবামূলক অনলাইন প্ল্যাটফর্ম";
    background: linear-gradient( to left, #0099ff, rgb(137, 250, 89));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}


hr {
    margin-top: 20px;
    background: linear-gradient(to left, red 50%, rgb(0, 79, 140) 100% );
    height: 1px;
}

/*=====  End of Header logo & dialogue bar  ======*/


/*=============================================
=            Social media links            =
=============================================*/
#social-media {
    position: fixed;
    bottom: 50%;
    font-size: 2rem;
    text-align: center;
}

#facebook {
    padding-top: 13px;
    width: 55px;
    height: 50px;
    background: radial-gradient(closest-side, #3f87a6, #0866ff, #022867);
}

#x-twitter {
    padding-top: 13px;
    width: 55px;
    height: 50px;
    background: radial-gradient(closest-side, #3f87a6, #000000, #545456);
}

#youtube {
    padding-top: 13px;
    width: 55px;
    height: 50px;
    background: radial-gradient(closest-side, #3f87a6, red, rgb(252, 161, 161));
}


/* Mouse hover */


#facebook:hover {
    background: radial-gradient(closest-side, #3f87a6, #022867, #0866ff);
}

#x-twitter:hover {
    background: radial-gradient(closest-side, #3f87a6, #545456, #000000);
}

#youtube:hover {
    background: radial-gradient(closest-side, #3f87a6,rgb(252, 161, 161),red);
}

/*=====  End of Social media links  ======*/

/*=============================================
=            Course list right side            =
=============================================*/

#course-list {
    position: fixed;
    right: 0px;
    bottom: 25%;

    font-size: 1.2vw;
    color: aliceblue;
    text-align: left;

    font-family: "Agbalumo", serif;
    font-weight: 400;
    font-style: normal;
}

#mern{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #1D4350 0%, #6f0000 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#spoken-adult{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #200122 0%, #6f0000 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#spoken-child{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #000000 0%, #434343 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}


#cyber-security{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #6a3093 0%, #a044ff 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#basic-computer{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #BA8B02 0%, #181818 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#graphic-design{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #6441A5 0%, #2a0845 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#digital-merketing{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #4b6cb7 0%, #182848 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#software-testing{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #AA076B 0%, #61045F 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#digital-marketing{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 100%;
    background:linear-gradient(to right, #5907aa 0%, #019187 100%);
    opacity: 0.7;
    border-radius: 50px 0px 0px 50px;
}

#islamic-education{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #038024 0%, #6a0168 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#auto-cad{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #8b0202 0%, #8f9703 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#medical-coding{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #bfb803 0%, #a0039e 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}

#general-knowledge{
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    /* height: 42px; */
    width: 100%;
    background:linear-gradient(to right, #026a90 0%, #960094 100%);
    opacity: 0.7;
    /* padding-top: 10px; */
    border-radius: 50px 0px 0px 50px;
}
 /* Mouse hover */


#mern:hover{
    background:linear-gradient(to left, #1D4350 0%, #6f0000 100%);
    opacity: 1;
}

#spoken-adult:hover{
    background:linear-gradient(to left, #200122 0%, #6f0000 100%);
    opacity: 1;
}

#spoken-child:hover{
    background:linear-gradient(to left, #000000 0%, #434343 100%);
    opacity: 1;
}


#cyber-security:hover{
    background:linear-gradient(to left, #6a3093 0%, #a044ff 100%);
    opacity: 1;
}

#basic-computer:hover{
    background:linear-gradient(to left, #BA8B02 0%, #181818 100%);
    opacity: 1;
}

#graphic-design:hover{
    background:linear-gradient(to left, #6441A5 0%, #2a0845 100%);
    opacity: 1;
}

#digital-merketing:hover{
    background:linear-gradient(to left, #4b6cb7 0%, #182848 100%);
    opacity: 1;
    /* background:linear-gradient(to left, #4b6cb7 0%, #182848 100%); */
}

#software-testing:hover{
    background:linear-gradient(to left, #AA076B 0%, #61045F 100%);
    opacity: 1;
}

#digital-marketing:hover{    
    background:linear-gradient(to left, #5907aa 0%, #019187 100%);
    opacity: 0.7;    
}

#islamic-education:hover{
   
    background:linear-gradient(to left, #038024 0%, #6a0168 100%);
    opacity: 1;
    
}

#auto-cad:hover{
    
    background:linear-gradient(to left, #8b0202 0%, #8f9703 100%);
    opacity: 1;
   
}

#medical-coding:hover{
    
    background:linear-gradient(to left, #bfb803 0%, #a0039e 100%);
    opacity: 1;
    
}

#general-knowledge:hover{
   
    background:linear-gradient(to left, #026a90 0%, #960094 100%);
    opacity: 1;
    
}

/*=====  End of Course list right side  ======*/


/*=============================================
=            Scholarship dialogue            =
=============================================*/

#scholar-div{
    margin: 20px auto 20px 0px;
    
    text-align: center;
    /* text-shadow: 2px 2px #9eedf9; */
    text-transform: uppercase;
    
    font-family: "Protest Revolution", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4vw;    
}

#scholar-div > p{
    letter-spacing: 7px;
    background: linear-gradient(to right, rgb(215, 233, 255) 50%, rgb(242, 255, 0));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;    
}

#scholar-div > p:nth-child(3){
    text-decoration: overline underline;
    text-decoration-color: whitesmoke;
    background: linear-gradient(to left, rgb(215, 233, 255) 50%, rgb(242, 255, 0));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*=====  End of Scholarship dialogue  ======*/


/*=============================================
=            Our course list            =
=============================================*/
#course-article{
    font-size: 1vw;
}
summary:hover{
    cursor: pointer;
}

#course-list-section{    
    margin: 20px auto;
    background: rgba(204, 204, 204, 0.1);
    /* background-color: #0099ff; */
    /* background: rgb(red, green, blue, .5); */
    /* background: transparent; */
    /* opacity: .6; */
    border: 1px solid silver;
    width: 90%;
    padding-bottom:20px;
    padding-top:20px;
    box-shadow: 1px 1px 7px 7px	#feea99;
}

#course-list-section > ul{
    list-style-type: "👉";
    columns : 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 10%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3vw;
    background: linear-gradient(to bottom, rgb(77, 144, 252), whitesmoke);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

#course-list-section >ul> li{
    margin-bottom: 20px;
}

/*=====  End of Our course list  ======*/


/*=============================================
=            Article details section css            =
=============================================*/

.course-detailes{
    margin: 20px auto;
    /* background: rgba(red, green, blue, .1); */
    /* position:relative; */    
}


/* Article 01 */


.article-p {    
    text-transform: uppercase;
    font-family: "Chela One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
}

.article-title{
    
    position: static;    
    margin: 20px auto 0px;    
    width: 90%;
    font-size: 1.5vw;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
}

.article-details{
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: 1px solid #3B1C32;
    text-align: justify;
    
}

#article-title-1{    
    border: 1px solid #3B1C32;    
    background-color: #3B1C32;    
}

#article-details-1{    
    background: rgba(204, 204, 204, 0.1);
}
#article-details-1 ul li{
    margin: 10px;
    margin-left: 20px;
}

#article-details-1 > p::first-letter{

}

/* Article 02 */

#article-title-2{
    
    border: 1px solid #3C3D37;
    background-color: #3C3D37;    
}

#article-details-2{
    border: 1px solid #3C3D37;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-2 ul li{
    margin: 10px;
    margin-left: 20px;
}

/* Article 04 */

#article-title-4{
    border: 1px solid #003161;
    background-color: #003161;    
}

#article-details-4{
    border: 1px solid #003161;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-4 ul li{
    margin: 10px;
    margin-left: 20px;
}

/* Article 05 */

#article-title-5{
    border: 1px solid #387478;
    background-color: #387478;    
}

#article-details-5{
    border: 1px solid #387478;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-5 ul li{
    margin: 10px;
    margin-left: 20px;
}


/* Article 06 */

#article-title-6{
    border: 1px solid #7A1CAC;
    background-color: #7A1CAC;    
}

#article-details-6{
    border: 1px solid #7A1CAC;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-6 ul li{
    margin: 10px;
    margin-left: 20px;
}


/* Article 04 */

#article-title-7{
    border: 1px solid #262A56;
    background-color: #262A56;    
}

#article-details-7{
    border: 1px solid #262A56;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-7 ul li{
    margin: 10px;
    margin-left: 20px;
}

/* Article 08 */

#article-title-8{
    border: 1px solid #13005A;
    background-color: #13005A;    
}

#article-details-8{
    border: 1px solid #13005A;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-8 ul li{
    margin: 10px;
    margin-left: 20px;
}


/* Article 09 */

#article-title-9{
    border: 1px solid #4F1787;
    background-color: #4F1787;    
}

#article-details-9{
    border: 1px solid #4F1787;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-9 ul li{
    margin: 10px;
    margin-left: 20px;
}


/* Article 10 */

#article-title-10{
    border: 1px solid #232D3F;
    background-color: #232D3F;    
}

#article-details-10{
    border: 1px solid #232D3F;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-10 ul li{
    margin: 10px;
    margin-left: 20px;
}

/* Article 11 */

#article-title-11{
    border: 1px solid #3D5300;
    background-color: #3D5300;    
}

#article-details-11{
    border: 1px solid #3D5300;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-11 ul li{
    margin: 10px;
    margin-left: 20px;
}


/* Article 04 */

#article-title-12{
    border: 1px solid #321E1E;
    background-color: #321E1E;    
}

#article-details-12{
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: 1px solid #321E1E;
    text-align: justify;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-12 ul li{
    margin: 10px;
    margin-left: 20px;
}

/* Article 13 */

#article-title-13{
    border: 1px solid #152D35;
    border-radius: 6px 6px 0px 0px;
    text-align: center;
    background-color: #152D35;    
}

#article-details-13{
    border: 1px solid #152D35;
    background: rgba(204, 204, 204, 0.1);
}
#article-details-13 ul li{
    margin: 10px;
    margin-left: 20px;
}
/*=====  End of Article details section css  ======*/

#flex-container-feedback{
    display: flex;
    width: auto;
    margin: 20px auto 0px;
}
#feedback-cont{
    margin: auto;
    width: 90%;
}

/*=============================================
=            feed back form css            =
=============================================*/

#Feedback-submit{
    margin: auto;
}

form{
    box-sizing: border-box;
    width: 90%;
    padding: 10px; 
}

input{
    font-size: 1vw;
    color: #13005A;
    
}
input:focus{
    background-color: rgb(227, 252, 227);
}

textarea{
    /* margin-left: 200px; */
    width: 100%;
    height: 100px;
    margin-top: 10px;
    font-size: 1vw;
    color: #13005A;
}
textarea:focus{
    background-color: rgb(227, 252, 227);
}
form > div{
    margin-top: 10px;
}

#rdo-male{
    display: inline;
}

#rdo-female{
    display: inline;
}

input[type=radio]{
    accent-color: rgb(255, 238, 0);
}

input[type=checkbox]{
    accent-color: rgb(221, 0, 255);
}

.btn-success{
    background-color: #2f2f2f;
    width: 90px;
    height: 35px;
    margin-top: 10px;
    text-decoration: double;
}

.btn-success:hover{
    background-color: #141E30;
}
/*=====  End of feed back form css  ======*/

